/* Resets */
html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #202637;
    background-image: url('../images/illustration.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

h1 {
    color: #f2f2f2;
    font-size: 60px;
}

/* Grid */
.container {
    display: grid; 
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    grid-template-areas:
    ".  text text text text ."
    ".  instagram codepen github reddit .";
}

.socials {
    display: grid;
    align-self: center;
    justify-self: start;
}

.socials {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling the socials */
#instagram, #codepen, #github, #reddit {
    height: 120px;
    width: 120px;
    background-color: #202637;
    border: 3px solid #f2f2f2;
    border-radius: 8px;
    color: #f2f2f2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: transform .3s;
}

/* Grid areas */
.text {
    grid-area: text;
    margin-top: 70px;
}

#instagram {
    grid-area: instagram;
}

#codepen {
    grid-area: codepen;
}

#github {
    grid-area: github;
}

#reddit {
    grid-area: reddit;
}

/* Coloring the span */
#purple-text {
    color: #F02B67;
}

/* Hover animations */
#instagram:hover, #codepen:hover, #github:hover, #reddit:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Typewriter test */
.Typewriter__wrapper{
    font-weight: bold;
    color: #F02B67;
}
/* Removing the cursor */
.Typewriter__cursor{
    display: none;
}


/* Smaller screens */

@media only screen and (max-width: 960px) {
    .container { 
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    /* grid-template-rows: 1fr .5fr .5fr; */
    grid-template-rows: 50% 25% 25%;
    grid-gap: 20px;
    grid-template-areas:
    ". text text ."
    ". instagram codepen ."
    ". github reddit .";
    }

    h1 {
        color: #f2f2f2;
        font-size: 40px;
    }

    /* Hover animations */
#instagram:hover, #codepen:hover, #github:hover, #reddit:hover {
    transform: scale(1.05);
    }

    .socials {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container { 
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        /* grid-template-rows: 1fr .5fr .5fr; */
        grid-template-rows: 50% 25% 25%;
        grid-gap: 20px;
        grid-template-areas:
        ". text text ."
        ". instagram codepen ."
        ". github reddit .";
    }

    h1 {
        font-size: 29px;
        margin-left: 20px;
    }

    .socials {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}