
/* Setting font family, and viewports for entire project */
body, html {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* Keyframe animation */
    animation: yourAnimation 1s forwards 0s ease;
}

/* Keyframe animation */
@keyframes yourAnimation{ 
    0%{ 
        transform: rotate(0) translateY(10%); opacity: 0; } 
        100%{ 
            transform: rotate(0) translateY(0); opacity: 1; 
        } 
    }

/* Grid area for mobile view */
body {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto 80% 35% 38% 38% 38% 15%;
    grid-template-areas:
        "headerleft     header          headerright"
        "mainleft       mainmid         mainright"
        "spotleft       spotmid         spotright"
        "instaleft      instamid        instaright"
        "faceleft       facemid         faceright"
        "snapleft       snapmid         snapright"
        "footerleft     footermid       footerright";
}

/* Header */
headerleft {
    grid-area: headerleft;
    background-color: #cf4647;
}

header {
    grid-area: header;
    background-color: #cf4647;
}

header img {
    float: left;
    display: grid; 
    align-items: start;
    width: 65px;
    height: 65px;
    padding: 13px 0px;
}

headerright { 
    grid-area: headerright;
    background-color: #cf4647;
}

/* Menu */
.nav{
    margin:0;
    padding:30px 0px;
    text-align: end;
}
/*  top padding is 25px
    right padding is 50px
    bottom padding is 75px
    left padding is 100px */
.nav li{
    display:inline;
    padding: 0px 0px 0px 8px;
}
.nav a{
    display:inline-block;
}
 
/* Main */
mainleft {
    grid-area: mainleft;
    background-color: #cf4647;
}
mainmid {
    grid-area: mainmid;
    display: grid; 
    background-color: #cf4647;
    align-content: center;
    color: white;
}

mainright {
    grid-area: mainright;
    background-color: #cf4647;
}

/* Instagram */
instagramleft {
    grid-area:instaleft;
    background-color: #e1306c;
}

instagrammid {
    grid-area: instamid;
    background-color: #e1306c;
}

instagramright {
    grid-area: instaright;
    background-color: #e1306c;
}

/* Facebook */
facebookleft {
    grid-area: faceleft;
    background-color: #3b5998;
}

facebookmid {
    grid-area: facemid;
    background-color: #3b5998;
}

facebookright {
    grid-area: faceright;
    background-color: #3b5998;
}

/* Snapchat */
snapchatleft {
    grid-area: snapleft;
    background-color: #fffc00;
}

snapchatmid {
    grid-area: snapmid;
    background-color: #fffc00;
}

snapchatright {
    grid-area: snapright;
    background-color: #fffc00;
}

/* Spotify */
spotifyleft {
    grid-area: spotleft;
    background-color: #1db954;
}
spotifymid {
    grid-area: spotmid;
    background-color: #1db954;
}

spotifymid h1{
    margin-top: 50px;
    color: white;
}

.widget {
    display: grid;
    max-width: 100%;
    width: 100%;
    height: 30%;
}    

spotifyright {
    grid-area: spotright;
    background-color: #1db954;
}

/* Footer */
footerleft {
    grid-area: footerleft;
    background-color: #cf4647;
}

footermid {
    grid-area: footermid;
    background-color: #cf4647;
    color: white;
}

footerright {
    grid-area: footerright;
    background-color: #cf4647;
}

@media only screen and (min-width: 768px) {
    /* Rearanging the grid areas for web view */
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto 80% 75% 50% 8%;
        grid-template-areas:
            "headerleft     header          headerright"
            "mainleft       mainmid         mainright"
            "spotleft       spotmid         spotright"
            "instamid       facemid         snapmid"
            "footerleft     footermid       footerright";
    }
    /* Resizing the spotify widget for web view */
    .widget {
        display: grid;
        max-width: 100%;
        width: 100%;
        height: 70%;
    }
     /* Resizing the headline for web view */
    mainmid h1 {
        font-size: 70px;
    }

}