body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 960px;
}

a:visited, a:hover {
    color: #7cb342; 
}

a:active {
    color: greenyellow;
}