body {
    font-family: 'Raleway', sans-serif;
<<<<<<< HEAD
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    /* Website in het midden plaatsen */
    margin: 0 auto;
    width: 960px;
}

.container{
    display: grid;
    grid-gap: 20px;
  }

.top{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "main main main"
      "twitter twitter twitter"
      "form form text"
      "ft ft ft"
}  

.text{
    grid-area: text;
}

.ft{
    display: grid;
    background: white;
    padding:50px;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
    grid-area: ft;
  }

.main{
    grid-area: main;
    padding: 20px;
}

.twitter{
    grid-area: twitter;
    padding-left: 20px;
}


/* FORM STYLING */
.form{
    grid-area: form;
    display: grid;
    justify-items: start;
=======
}

.form{
    float: left;
>>>>>>> 90bc3fce3bd5f38f439a2cd3a6cca1cd71254446
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: slategray;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
<<<<<<< HEAD

/* FOR SMALLER SCREENS */
@media (max-width: 700px) {
    .container {
      grid-template-areas:
        "main twitter"
        "form text "
    }
  }
  
  @media (max-width: 500px) {
    .cointainer {
      grid-template-areas:
        "main"
        "form"
        "text"
        "twitter"
    }
  }
=======
>>>>>>> 90bc3fce3bd5f38f439a2cd3a6cca1cd71254446
